.drop-down-list{
  border: 1px solid #d5dddf;
  border-radius: 3px;
  position: relative;

  &__all-items{

    display: none;
    &_active{
      width: 100%;
      position: absolute;
      background-color: #fff;
      border-bottom: 1px solid #d5dddf;
      border-right: 1px solid #d5dddf;
      border-left: 1px solid #d5dddf;
      z-index: 2;
      display: block;
    }
  }

  &__item{
    //position: relative;
    cursor: pointer;
    padding: 4px 10px;
    border-top: 1px solid #ccc;

    &:hover{
      background-color: #ccb948;
    }

    &-current{

      padding: 4px 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}