
.wrapper-content{
  background-color: #fff;
  padding: 16px 20px;
  margin: 20px 0px 30px 0px;
}

.input-field {
  border-radius: 3px;
  padding: 0 8px;
  margin-bottom: 8px;
  width: 450px;
  height: 35px;
  border: 1px solid #d5dddf;
  font-size: 14px;
}

.form__label{
  margin-bottom: 10px;
  color: #444;
  font-weight: 600;
}

.save-changes-btn {
  background-color: #669a26;
  border-radius: 3px;
  color: #fff;
  padding: 10px 13px;
  border: 1px solid #669a26;
  cursor: pointer;
}


